<head>
    <title> About </title>
    <%- include('./partials/header.ejs')%>
</head>
<!--About Page: About Our Website-->
    <div class = "content">
        <h3>Welcome</h3>
        <p>Your #1 Tournament and Teamfinding Application. Stop Playing with bots and find your dream team!!</p>
    </div>
<%- include('./partials/footer.ejs')%>