    <!--Footer-->
    <div class = "footer">
        <!--Representative footer information: copyright-->
            <a href = "">CopyRight</a>
            <a href = "views\contact.ejs">Contact</a>
            <a href = "views\about.ejs">About</a>
        </div>
    </html>