<head>
    <title> Contact </title>
    <%- include('./partials/header.ejs')%>
</head>

<!--Contact Page: Contact Details-->
    <div class = "content">
        <h3>Contact Me Here:</h3>
        <p>dsetzer8@uncc.edu</p>
    </div>
<%- include('./partials/footer.ejs')%>