    <!--Footer-->
    <div class = "footer">
        <!--Representative footer information: copyright-->
            <a href = "">CopyRight</a>
            <a href = "/contact">Contact</a>
            <a href = "/about">About</a>
        </div>
    </html>