<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, intial-scale=1.0" />
        <title>Index</title>
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    <!--Header-->
    <div class = "header">
    <!--Logo - Logo is also linked to the Home Page /Index Page-->
        <a href = "/" class = "logo"><img src="/images/lofty.png" alt="Lofty"></a>
    
    <!--Representative links:-->
        <div class = "header-right">
    <!--Start a new connection-->
    <!--"Start a new connection" is linked to the newConnection.html-->
            <a href = "/connections/newConnections">Start a New Connection</a>     
        </div>    
    </div>
    <!--Connections-->
    <div class="title">
        <a href="/connections">Connections</a>
    </div>
    <hr> 