/* Header Area -
    ○ At the top of the page
    ○ Full width
    ○ Sensible height
*/
.header {
    overflow: hidden;
    background-color: #0B0B45;
    padding: 10px 10px;
    width: 98.97%;
    height: 6%;
    position:absolute;
    top:0;
    left:0;
}
.header a {
    float: left;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    line-height: 20px;
    border-radius: 2px;
}
.header a.logo {
    font-size: 30px;
    font-weight: bold;
}
.header a:hover {
    background-color: white;
    color: #0B0B45;
}
.header a:after {
    content: " | ";
}
.header a:before {
    content: " | ";
}
.header-right {
    float: right;
}
/* General Site Navigation -
    ○ At the top of the page
    ○ Full width
    ○ Sensible height
*/

/* Footer Area
    ○ Full width
    ○ Sensible height
    ○ At the bottom of the page
*/
.footer {
    overflow: hidden;
    background-color: #0B0B45;
    padding: 10px 10px;
    position:fixed;
    left: 0;
    bottom: 0;
    width:100%;
    text-align: center;
}
.footer a:hover {
    background-color: white;
    color: #0B0B45;
}
.footer a{
    float: left;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
    line-height: 10px;
    border-radius: 2px;
}
/* Main content area
    ○ Full width
*/

/* Color Palette:
    Navy - #000080
    White - #FFFFFF
*/