/* Header Area -
    ○ At the top of the page
    ○ Full width
    ○ Sensible height
*/
.header {
    overflow: hidden;
    background-color: #0B0B45;
    padding: 10px 10px;
}
.header a {
    float: left;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    line-height: 20px;
    border-radius: 2px;
}
.header img{
    height: 50px;
    width:100px;

}
.header a:hover {
    background-color: white;
    color: #0B0B45;
}
.header-right {
    float: right;
}
/* General Site Navigation -
    ○ At the top of the page
    ○ Full width
    ○ Sensible height
*/
.title {
    overflow: hidden;
    background-color:white;
    padding: 10px 10px;
}
.title a{
    float: left;
    color: #0B0B45;
    text-align: left;
    padding-left:10px;
    text-decoration: none;
    font-size: 20px;
    line-height: 20px;
    border-radius: 2px;
    font-size: 25px;
    font-weight: bold;
}
hr {
    height:3px;
    background-color: #0B0B45;
}
.body h1{
    padding-top:5%;
    padding-left:5%;
    position:relative;
    text-align: left;
    top:50%;
}
.body p{
    text-align: left;
    padding-left:5%;
}
.list{
    overflow: hidden;
    background-color: white;
    padding: 10px 10px;
    color: #0B0B45;
}
.list a{
    color: #0B0B45;
    text-align: left;
    padding: 2px;
    text-decoration: none;
    font-size: 20px;
    line-height: 20px;
    border-radius: 2px;
}
.list h3 {
    padding-top: 2.5%;
    font-size: 25px;
    padding-left:5%;
}
.list ul{
    list-style-type: none;
    padding-left:6%;
}
.list li{
font-size: 20px;
padding:7.5px;
}
.details h1{
    color: #0B0B45;
    padding-left: 2%;
}
.details img{
    padding-left: 5%;
    padding-top: 2%;
    height: 100px;
    width: 200px; 
}
.details button{
    float: right;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #0B0B45;
    border-radius: 4px;
}
.details ul{
    float:right;
    padding-right:55%;
    color: #0B0B45;
    font-size: 20px;
    list-style-type: none;
}
.details li{
    padding:10px;
}
.description h1{
    padding-left: 2%;
    color: #0B0B45;
    padding-top: 2%;
}
.description p{
    padding-left:2%;
    color: #0B0B45;
    font-size: 20px;
}
/* Footer Area
    ○ Full width
    ○ Sensible height
    ○ At the bottom of the page
*/
.footer {
    overflow: hidden;
    background-color: #0B0B45;
    padding: 10px 10px;
    position:fixed;
    left: 0;
    bottom: 0;
    width:100%;
    text-align: center;
}
.footer a:hover {
    background-color: white;
    color: #0B0B45;
}
.footer a{
    float: left;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
    line-height: 10px;
    border-radius: 2px;
}
/* Main content area
    ○ Full width
*/

/* Color Palette:
    Navy - #000080
    White - #FFFFFF
*/