<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, intial-scale=1.0" />
        <title>Index</title>
        <link rel="stylesheet" href="main.css" />
    </head>
    <!--Header-->
    <header>
        <!--Logo - Logo is also linked to the Home Page /Index Page-->

        <!--Representative links: 
            Start a new connection
            Login-in 
            Signup
            Connections-->
        <!--"Start a new connection" is linked to the newConnection.html-->

        <!--“Connections” is linked to the connections page-->
    </header>
    <body>
        <!--Home page: provide an introduction and overview to the site-->
        <div class = "div">Hello World!</div> 
    </body>
    <!--Footer-->
    <footer>
        <!--Representative footer information: copyright-->

        <!--Representative links: 
            Contact
            About-->
    </footer>
</html>