<%- include('./partials/header.ejs')%>
    <!--Home page: provide an introduction and overview to the site-->
    <div class = "body">
        <h1>Welcome to Lofty's LAN Tournaments and Matchmaking,</h1>
        <p>Attend and Participate LAN Tournaments and Test Your Skills Against Other UNCC Studets. 
            <br>Connect with fellow students and find your dream team.<br>
            Continue to the Connections page to browse available tournaments and meetings</p>
    </div> 
<%- include('./partials/footer.ejs')%>